<!-- display_data.html -->

<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Message</th>
        </tr>
    </thead>
    <tbody>
        {% for message in contact_messages %}
        <tr>
            <td>{{ message.name }}</td>
            <td>{{ message.email }}</td>
            <td>{{ message.message }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<table>
    <thead>
        <tr>
            <th>Title</th>
            <th>File</th>
        </tr>
    </thead>
    <tbody>
        {% for upload in uploads %}
        <tr>
            <td>{{ upload.title }}</td>
            <td><a href="{{ upload.file.url }}">{{ upload.file }}</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
